<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>流详情</title>
  <link rel="stylesheet" href="./css/layui.css" media="all">
</head>
<body>
 
<table id="demo" lay-filter="test"></table>
 
<script src="./js/layui.js"></script>
<script>
layui.use('table', function(){
  var table = layui.table;
  
  //第一个实例
  table.render({
    elem: '#demo'
    ,height: 900
    ,url: './js/flow.js' //数据接口
    ,page: true //开启分页
    ,cols: [[ //表头
      {field: 'id', title: '流ID', width:150, sort: true, fixed: 'left'}
      ,{field: 'beginTime', title: '流起始时间', width:300, sort: true}
      ,{field: 'endTime', title: '流结束时间', width:300, sort: true}
      ,{field: 'srcIp', title: '源IP', width:300} 
      ,{field: 'srcPort', title: '源端口', width: 150}
      ,{field: 'dstIP', title: '目的IP', width: 300}
      ,{field: 'dstPort', title: '目的端口', width: 150}
      ,{field: 'Cyber', title: '加密方式', width: 100, align: 'center'}
      ,{field: 'app', title: '应用程序', width: 200, align: 'center'}
    ]]
  });
  
});
</script>
</body>
</html>