<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>监控系统</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/layui/2.6.8/css/layui.css">
</head>
<body>

<div class="layui-container" style="width: 100%;">
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item"><a href="javascript:;" onclick="loadPage('main.html')">监控化大屏</a></li>
        <li class="layui-nav-item"><a href="javascript:;" onclick="loadPage('flow_table.html')">流详情</a></li>
        <li class="layui-nav-item"><a href="javascript:;" onclick="loadPage('event_table.html')">异常事件详情</a></li>
    </ul>
    <div style="margin-top: 20px; height: 90vh; width: 100vw;">
    <div id="content" style="margin-top: 20px; height: 100%; width: 98%;">
        <!-- 这里是页面内容 -->
    </div>
</div>
<script type="text/javascript" src="js/echarts.min.js"></script> 
<script type="text/javascript" src="js/jquery.js"></script>
<script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/layui/2.6.8/layui.js"></script>

<script language="JavaScript" src="js/js.js"></script> 
<script>
    // JavaScript函数用于加载页面
    function loadPage(page) {
        $("#content").load(page);
    }
    // 当文档加载完成时，自动加载page1.html
    $(document).ready(function() {
        loadPage('main.html');
    });
</script>

</body>
</html>
